on: [push, pull_request]
name: CI
jobs:
  CI:
    name: CI (${{ matrix.version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [16, 18, 20]
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - name: Install
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
      - name: Test REST resources
        run: yarn test:rest_resources
      - name: Run isomorphic adapter tests
        run: yarn test:adapters
