on: [push, pull_request]
name: CI
jobs:
  CI:
    name: CI (${{ matrix.version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [14, 16, 18]
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.version }}
      # TODO Remove the --ignore-engines flag when we drop support for Node 14
      - name: Install
        run: yarn install --ignore-engines
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
      # TODO reinstate these tests once we re-introduce the wrappers
      # - name: Test REST resources
      #   run: yarn test:rest:resources
      # - name: Test SessionStorage implementations
      #   run: yarn test:session_storage
      - name: Run isomorphic adapter tests
        run: yarn test:adapters
