on: [push, pull_request]
name: CI
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
      - name: Test REST resources
        run: yarn test_rest_resources
      - name: Test SessionStorage implementations
        run: yarn test_sessionstorage
